* {
  box-sizing: border-box; /* Всі елементи на сторінці будуть використовувати модель коробки border-box */
}

.container {
  overflow: hidden; /* Забезпечуємо, що батьківський елемент обгортає всі плаваючі блоки */
}

.block {
  padding: 10px; /* Всі блоки матимуть внутрішній відступ 10px */
  float: left; /* Всі блоки будуть плавати вліво */
}

.left {
  width: 200px; /* Лівий блок матиме фіксовану ширину 200px */
  background-color: #ddd; /* Колір фону лівого блоку */
  margin-left: calc(-100% + 250px + 20px); /* Відступ зліва для лівого блоку */
}

.right {
  width: 250px; /* Правий блок матиме фіксовану ширину 250px */
  background-color: #bbb; /* Колір фону правого блоку */
  float: right; /* Правий блок буде плавати вправо */
}

.main {
  width: calc(100% - 450px - 40px); /* Ширина основного блоку враховує ширину лівого і правого блоку, а також їхні відступи */
  background-color: #f3f3f3; /* Колір фону основного блоку */
  margin-left: 220px; /* Забезпечуємо місце для лівого блоку */
}

.clearfix::after {
  content: ""; /* Вміст псевдоелемента ::after */
  display: table; /* Властивість display для псевдоелемента ::after */
  clear: both; /* Властивість clear для псевдоелемента ::after */
}