.left {
    width: 300px;
    height: 100px;
    background-color: lightblue;
    float: left;
    margin-right: 24px;
}

.right{
    width: 300px;
    height: 100px;
    background-color: lightpink;
    float: right;
    margin-bottom: 24px;
    margin-left: 24px;
}

.left-right::after {
  content: "";
  display: block;
  clear: both;
}

.big-div{
    background-color: lightpink;
    width: 300px;
    height: 212px;
    float: right;
    margin-bottom: 24px;
}

.small-divs{
    float: right;
}

.small-divs div{
    width: 300px;
    height: 100px;
    margin-bottom: 12px;
    background-color: lightblue;
    margin-left: 24px;
}

.right-divs::after{
    content: "";
    display: block;
    clear: both;
}

.center-divs{}

.center-small-divs{
    float: right;
    margin-right: calc(50% - 24px - 400px);
}

.center-small-divs div{
    width: 400px;
    height: 100px;
    margin-bottom: 12px;
    background-color: lightblue;
}

.center-big-div{
    width: 400px;
    height: 212px;
    background-color: lightpink;
    margin-left: calc(50% - 24px - 400px)
}
