.container-gradient{
  background:-webkit-gradient(linear, left bottom, right top, from(#323264), to(#643E72));
  background:linear-gradient(to top right, #323264, #643E72);
  padding-inline:60px;
  height:1000px;
  position:relative;
}

.container-gradient__background{
  width:700px;
  height:800px;
  margin:0 auto;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-bottom:30px;
}
.container-gradient__background__text{
  position:relative;
  font-size:38px;
  font-weight:bold;
  padding-top:300px;
  z-index:2;
}
.container-gradient__background__h-symbol{
  position:absolute;
  min-width:800px;
  margin-left:auto;
  margin-right:auto;
  top:0;
  left:0;
  right:0;
}

header{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  position:relative;
  z-index:2;
  padding-top:50px;
}

.container-gradient__right-part{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
}
.container-gradient__right-part .right-part__top{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-bottom:18px;
}
.container-gradient__right-part .right-part__top__lang{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-right:6px;
}
.container-gradient__right-part .right-part__top__lang div{
  padding:5px 7px;
  font-weight:700;
  letter-spacing:1px;
}
.container-gradient__right-part .right-part__top__lang__active{
  border:none;
  border-radius:8px;
  background:#F0145A;
}
.container-gradient__right-part .right-part__top__contact-info{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  gap:6px;
}
.container-gradient__right-part .right-part__top__contact-info div{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  font-size:16px;
  gap:6px;
}
.container-gradient__right-part .right-part__top__contact-info__bold{
  font-weight:700;
}
.container-gradient__right-part .right-part__bottom ol{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
  gap:15px;
}
.container-gradient__right-part .right-part__bottom ol li{
  list-style:none;
  font-weight:700;
}
.container-gradient__right-part .right-part__bottom ol a{
  text-decoration:none;
}
*, *::before, *::after{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
*{
  margin:0;
}

body{
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
}
img, picture, video, canvas, svg{
  display:block;
  max-width:100%;
}
input, button, textarea, select{
  font:inherit;
}
p, h1, h2, h3, h4, h5, h6{
  overflow-wrap:break-word;
}
p{
  text-wrap:pretty;
}

h1, h2, h3, h4, h5, h6{
  text-wrap:balance;
}
#root, #__next{
  isolation:isolate;
}

*{
  font-family:Montserrat, sans-serif;
  color:white;
}